<section id="profile" class="container">
    <h1>Profile page </h1>
    {{#if customer_id}}
        <div id="profileDetail">
            <div class = "nickname">
                <p>{{custGivenName}}</p>
            </div>
            <div class="email">
                <p>{{custEmail}}</p>
            </div>
        </div>
        <div id = 'contactDetails'>
            <h2 style = "float: left;">Contact Details</h2>
            <h2 style = "float:right">
                <button class='darkButton' onclick="showChangeDetailsPopup()" type="button">Change Details</button>
            </h2>
        </div>

        <div style ="clear : both;"></div>

        <div id="profileDetail">
            <div class ="contactDetailsHead">
                <span class="alignleft">Given Name : </span><span class="alignright">{{custGivenName}}</span>
                <div style ="clear : both;"></div>
                <br>
                <span class="alignleft">Family Name : </span><span class="alignright">{{custFamName}}</span>
                <div style ="clear : both;"></div>
                <br>
                <span class="alignleft">Password : </span><span class="alignright">********</span>
                <div style ="clear : both;"></div>
            </div>
        </div>
        <br>
        <div id = "pastOrder">
            <h1>
            {{!-- hide cancel button after 10 minutes --}}
            <button class= 'button' onclick="location.href='/orders/customer/{{customer_id}}'">Past Orders</button>
            </h1>

        </div>
        {{#if orderitems}}
        <div id="orderSuccessPopup" class="colMiddle">
            <div id="orderSuccessPopupModal">
                <div class="flexBetween exitModal">
                    <i onclick="hideOrderSuccessPopup()" class="fas fa-times"></i>
                </div>
                <h1>Your order has been sent!</h1>
                {{#if vendor}}
                <div class="popupItem location">
                    <p>You purchased from:</p>
                    <p>{{vendor.name}}, {{vendor.textlocation}}</p>
                </div>
                {{/if}}
                <div class="popupButtons flexMiddle stretch">
                    <button class="doneButton" onclick="hideOrderSuccessPopup()">Done</button>
                </div>
            </div>
        </div>
        {{/if}}
    {{/if}}
    
    <div id="changeDetailsPopup" class="colMiddle" style="display: none;">
        <div id="changeDetailsPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideChangeDetailsPopup()" class="fas fa-times"></i>
            </div>
            <h1>Change Details</h1>
            <div class="popupItem">

                <span class="alignleft">Name</span><span class="alignright"><button class ="changeButton" onclick="showChangeNamePopup()">Change</button></span>
                <div style ="clear : both;"></div>
                <br>
            
                <span class="alignleft">Password</span><span class="alignright"><button class ="changeButton" onclick="showChangePasswordPopup()">Change</button></span>
                <div style ="clear : both;"></div>
                <br>
            </div>

            <div class="popupButtons flexMiddle stretch">
                <button class="doneButton" onclick="location.href='/customer/profile'">Done</button>
            </div>
        </div>
    </div>
    <div id="changeNamePopup" class="colMiddle" style="display: none;">
        <div id="changeNamePopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideChangeNamePopup()" class="fas fa-times"></i>
            </div>
            <h1>Change Name</h1>
            <div class="changeDetailsform-changeDetails">
               <form class="form" method="post" action="/customer/profile">
               <label class="mt20">
                   <span>New Given Name : </span>
                   <input placeholder="Type New Given Name" type="text" name="newGivenName" />
                   <br>
                   <span>New Family Name : </span>
                   <input placeholder="Type New Family Name" type ="text" name="newFamName"/>
                   <br>
               </label>
               <br>
               <input type="submit" value="submit">
               </form>
            </div>
            <div class="popupButtons flexMiddle stretch">
                <button class="cancelButton" onclick="location.href='/customer/profile'">Cancel</button>
            </div>
        </div>
    </div>
    <div id="changePasswordPopup" class="colMiddle" style="display: none;">
        <div id="changePasswordPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideChangePasswordPopup()" class="fas fa-times"></i>
            </div>
            <h1>Change Password</h1>
           <div class="changeDetailsform-changeDetails">
               <form class="form" method="post" action="/customer/profile">
               <label class="mt20">
                   <span>Given Name : </span>
                   <input placeholder="Type Given Name" type="text" name="newGivenName" />
                   <br>
                   <span>Family Name : </span>
                   <input placeholder="Type Family Name" type ="text" name="newFamName"/>
                   <br>
                   <span>New Password : </span>
                   <input placeholder="Type New Password" type="text" name="newPassword"/>
                   <br>

               </label>
               <br>
               <input type="submit" value="submit">
               </form>
            </div>
            <div class="popupButtons flexMiddle stretch">
                <button class="cancelButton" onclick="location.href='/customer/profile'">Cancel</button>
            </div>
        </div>
    </div>

     <script>
        const showChangeDetailsPopup = () => {
            let popup = document.getElementById("changeDetailsPopup");
            popup.style.display = "flex";
        }
        const showChangeNamePopup = () =>{
            let popup = document.getElementById("changeNamePopup");
            popup.style.display = "flex";
        }
        const showChangePasswordPopup = () =>{
            let popup = document.getElementById("changePasswordPopup");
            popup.style.display = "flex";
        }
        const hideChangeDetailsPopup = () => {
            let popup = document.getElementById("changeDetailsPopup");
            popup.style.display = "none";
        }
        const hideChangeNamePopup = () => {
            let popup = document.getElementById("changeNamePopup");
            popup.style.display = "none";
        }
        const hideChangePasswordPopup = () => {
            let popup = document.getElementById("changePasswordPopup");
            popup.style.display = "none";
        }
        const hideOrderSuccessPopup = () => {
            let popup = document.getElementById("orderSuccessPopup");
            popup.style.display = "none";
        }    
    </script>

</section>