<section id="video_page" class="grid-container_video">
    <div onclick="location.href='#';" id="video_p" class="side_p" style="cursor: pointer; text-align ">
        <img src="/images/left_arrow2.svg" alt="left_button_2" width="60" height="60" class="button_video_text"></img>
    </div>

    <div onclick="location.href='#';" id="video_n" class="side_n" style="cursor: pointer;">
        <img src="/images/right_arrow2.svg" alt="right_button_2" width="60" height="60" class="button_video_text"></img>
    </div>

    <div id="vid1" class="vid1 center">
        <div class="quest_no">Question{{quesno}}</div>
        <div class="question">{{question}} </div>
        <div class="quest_option">
            <ul>
                {{#each questionoption}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
        </div>
        <form class="form" method="post" action="/question/ans/{{{quesno}}}">

            <label class="answer" for="answer">Answer</label>

            <select name="answer" id="answer">
                {{#each questionoption}}
                <option value={{this}}>{{this}}</option>
                {{/each}}
            </select>
            <div><input class="btn-success" type="submit" value="submit"></div>
        </form>
    </div>





</section>