<section id="video_page" class="grid-container_video">


    <div onclick="location.href='/question/{{next_ques}}';" id="video_n" class="side_n" style="cursor: pointer;">
        <img src="/images/right_arrow2.svg" alt="right_button_2" width="60" height="60" class="button_video_text"></img>
    </div>

    <div id="vid1" class="vid1 center">
        <div class="quest_no">Question{{quesno}}</div>
        <div class="question">{{question}} </div>

        <div class="result">
            {{#if trueFalse}}
            <div>Selected Answer: </div>
            <div>{{cus_ans}}</div>
            <div style=" margin-top:30px" class="alert alert-success" role="alert">
                The Answer is <strong>Correct</strong>!
            </div>
            {{else}}
            <div>Selected Answer: </div>
            <div>{{ques_ans}}</div>
            <div style=" margin-top:30px" class="alert alert-danger" role="alert">
                The Answer is <strong>Wrong</strong>!
            </div>
            {{/if}}


        </div>


    </div>





</section>