<script>
window.onload = function getLocation() {
    //var x = document.getElementById("demo");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position){
            
             //x.innerHTML = "Latitude: " + position.coords.latitude +
             "<br>Longitude: " + position.coords.longitude; 
             document.getElementById("longitude").value = position.coords.longitude;
             document.getElementById("latitude").value = position.coords.latitude;
        });
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}
</script>

<section id="vendorProfile" class="container flexBetween" >
    <div id="vendor_details" class="col">
        <h1>Your Details</h1>
        <div class="flexBetween stretch pill"> <h2>Name:</h2> <h3>{{vendor.name}}</h3></div>
        <div class="flexBetween stretch pill"> <h2>Email:</h2> <h3>{{vendor.email}}</h3></div>
        <div class="flexBetween stretch pill">
            <h2>Current Location:</h2>
            {{#ifEquals vendor_status "Active"}}
            <h3>{{vendor.textlocation}}</h3>
            {{else}}
            <h3>n/a</h3>
            {{/ifEquals}}
        </div>
        <div class="flexBetween stretch pill">
            <h2>Orders:</h2>
            <p>{{vendor.orders.length}}</p>
        </div>
        <div class="flexBetween stretch pill"> <h2>Current Status:</h2> <h3>{{vendor_status}}</h3></div>
        <div class="flexBetween profileRating pill">
            <h2>Your Rating : </h2>{{#singleVendorRatingDisplay vendor}}{{/singleVendorRatingDisplay}}
        </div>
        <div class="flex buttons">
            <button class="darkButton" onclick="location.href='/vendors/getPastOrdersByVendor/{{vendor_id}}'">View Past Orders</button>
            <button class="darkButton" onclick="location.href='/vendors/getOutsOrdersByVendor/{{vendor_id}}'">View Current Orders</button>
            {{#ifEquals vendor_status "Active"}}
            <button class="setStatusButton" onclick="location.href='/vendors/setoff'">Go Offline</button>
            {{/ifEquals}}
        </div>
    </div>
    
    <div id="vendor_status">
        <div id="setActiveform">
            <h1>Update your location</h1>
            <form class="form colMiddle" method="post" action="/vendors/setActive">
                <label>
                    <span>Text Location</span>
                    <input placeholder="Your location name..." name="textlocation" type="text" />
                </label>
                <label>
                    <span>Latitude</span>
                    <input id = "latitude" placeholder = "Latitude...", name = "latitude" type="text">
                </label>
                <label>
                    <span>Longitude</span>
                    <input id="longitude" placeholder="Longitude..." , name="longitude" type="text">
                </label>
                {{#ifEquals vendor_status "Active"}}
                <input class="darkButton" type="submit" value="Update Location" />
                {{else}}
                <input class="darkButton" type="submit" value="Open for Business" />
                {{/ifEquals}}
            </form>
        </div>
    </div>
    <p>{{vendor_error}}</p>
</section>