<section id="vendorPastOrders" class  = "col">
        <div class="container PastOrdersContainer">
                <h1 style="text-align: center;">Our Order History</h1>
                <div id="PastOrderList" class="flex">
                        {{#each PastOrders}}
                        <div class="pastOrders col">
                                <h3>Order Number: {{this._id}}</h3>
                                {{#each customer}}
                                        <h3>Customer Name: {{this.givenName}}</h3>
                                {{/each}}
                                <div class="pastOrderItems colStart">
                                        <h3>Items Ordered:</h3>
                                        {{#each orderDetails}}
                                        <div class="flex orderItem">
                                                <img src={{this.photo}} alt="food" />
                                                <div class="colStart">
                                                        <p>Item: {{this.name}}</p>
                                                        <p>Quantity: {{this.quantity}}</p>
                                                        <p>Price: ${{this.price}}</p>
                                                </div>
                                        </div>
                                        {{/each}}
                                </div>
                                <div class="flex">
                                        <h3>Total Price of Order: ${{this.price}}</h3> 
                                </div>
                        </div>
                        <hr style="width:100%", size="3", color=white>  
                        {{else}}
                        <h3 style="font-size:5vw; color:white"> We Don't Have Past Orders Yet.</h3>                      
                        {{/each}}
                </div>
        </div>
</section>