<section id="singleVendor" class="col container">
    <div id="vendorTitle" class="flex alignMiddle">
        <button class="darkButton" onclick="location.href='/vendors'" type="button">Change Van</button>
        <h1>{{vendor.name}}, {{vendor.textlocation}}</h1>
    </div>
    <div class="flexBetween vendorDisplay">
        <div id="menu">
            {{#vendorMenu vendor.menu.menuitem vendor._id}}{{/vendorMenu}}
        </div>
        <div id="order" class="col">
            <div class="col orderHeader">
                <h2>Your order</h2>
                <div class="van col">
                    <div class="flexBetween">
                        <h4>VAN</h4>
                        <h5><a href="/vendors">change</a></h5>
                    </div>
                    <div class="name flex">
                        <div class="title">
                            <p>{{vendor.name}}</p>
                        </div>
                        <div class="location flex">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>{{vendor.textlocation}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="orderItems colTop">
                {{! Display the items in the cart if there are items, else display no items in cart}}
                {{#if orderitems}}
                    {{#each orderitems}}
                        {{#ifEquals @root.vendor._id this.vendorid}}
                            <div class="orderItem colTop stretch">
                                <div class="flexBetween stretch">
                                    <div class="flex">
                                        <span class="badge">{{this.quantity}} x </span>
                                        <p>{{ this.name }}</p>
                                    </div>
                                    <div class="flex">
                                        <p>${{#priceDisplay this.price }}{{/priceDisplay}}</p>
                                        <a class="removeItem" href="/customer/deleteOrderItem/{{this.menuitem}}/{{this.vendorid}}">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {{/ifEquals}}
                    {{/each}}
                {{else}}
                    <p>No Items in Order</p>
                {{/if}}
            </div>
            <div class="col orderTotalCon">
                <div class="orderTotal flexBetween">
                    <h4>Total</h4>
                    {{! Display the total price of the cart}}
                    <strong>${{#priceDisplay totalPrice }}{{/priceDisplay}}</strong> 
                </div>
                <div class="flexMiddle">
                    <button class="submitButton" onclick="showOrderPopup()" type="submit">Place Order</button>
                </div>
{{!-- onclick="location.href='/orders/placeOrder/{{vendor._id}}'" --}}
            </div>
        </div>
    </div>
     <div id="orderPopup" class="colMiddle" style="display: none;">
        <div id="orderPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideOrderPopup()" class="fas fa-times"></i>
            </div>
            <h1>Are you ready to submit your order?</h1>
            {{!-- order items --}}
            {{#if vendor}}
            <div class="popupItem location">
                <p>{{vendor.name}}, {{vendor.textlocation}}</p>
            </div>
            {{/if}}  
            {{#if orderitems}} 
                {{#popupOrderItems2 orderitems vendor._id}}{{/popupOrderItems2}}
            {{/if}}
            <div class="popupButtons flexMiddle stretch">
                {{!-- hide cancel button after 10 minutes --}}
                <button class="changeButton" onclick="showCancelPopup()">Cancel</button>
                <button class="changeButton" onclick="changeOrder()">Change</button>
                <button class="doneButton" onclick="location.href='/orders/placeOrder/{{vendor._id}}'">Submit</button>
            </div>
        </div>
    </div>
    <div id="cancelPopup" class="colMiddle">
        <div id="cancelPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideCancelPopup()" class="fas fa-times"></i>
            </div>
            <h1>Are you sure you want to cancel your order?</h1>
            <div class="popupButtons flexMiddle stretch">
                <button class="changeButton" onclick="showOrderPopup()">No</button>
                <button class="doneButton" onclick="location.href='/orders/cancelSessionOrder'">Yes</button>
                {{!-- now the done button will redirect the page to vendors page, 
                to make it different from the change button --}}
            </div>
        </div>
    </div>
    <script>
            const showOrderPopup = () => {
                hideCancelPopup();
                let popup = document.getElementById("orderPopup");
                popup.style.display = "flex";
            }
            const hideOrderPopup = () => {
                let popup = document.getElementById("orderPopup");
                popup.style.display = "none";
                // set session order to []
            }
            const showCancelPopup = () => {
                hideOrderPopup();
                let cancelPopup = document.getElementById("cancelPopup");
                cancelPopup.style.display = "flex";
            }
            const hideCancelPopup = () => {
                let cancelPopup = document.getElementById("cancelPopup");
                cancelPopup.style.display = "none";
                // set session order to []
                // set order to cancelled in database
            }
            const changeOrder = () => {
                let popup = document.getElementById("orderPopup");
                popup.style.display = "none";
                //the change button will just back to the order page
            }
        </script>
</section>