<section id="vendorOutstandingOrders" class  = "col">
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script> 
        var myfunc = setInterval(function() {
                var decodedJson = decodeURIComponent("{{{timer}}}");
                var jsonObj = JSON.parse(decodedJson);
                for(var obj of jsonObj){
                        let temp = "timer_"+obj._id
                        var startTime = new Date()
                        var end = new Date(obj.time)
                        var timeDiff = parseInt(end - startTime) + 15*60*1000;
                        min = Math.floor((timeDiff/1000/60) << 0),
                        sec = Math.floor((timeDiff/1000) % 60);
                        let time = min + ':' + sec
                        // If the time goes to negative means that 15 minutes have passed 
                        // Hence, discount should be applied.
                        if (sec >= 0) {
                                document.getElementById(temp).innerHTML = "Time Remaining before Discount: " + time;
                        } else {
                                document.getElementById(temp).innerHTML = "20% Discount should be Applied to the Order.";
                                // changes to the status of discount applied to database
                                obj.discountApplied = true; 
                        }
                }
        }, 1000)

        // reloading page after the button is clicked 
        function refreshPage() {
                window.location.reload(); 
        }
        </script>

        <div class="container OutstandingOrdersContainer">
                <h1 style="text-align: center;">Orders that Have Not Been Fulfilled or Picked Up Yet</h1>
                <div id="OutstandingOrderList" class="flex">
                        {{#each OutstandingOrders}}
                        <div class="outsOrders col">
                                {{! Date Time should show the time when customer place an order}}
                                <h3>Date Time Order Placed: {{this.time}}</h3>
                                <h3>Status: {{this.status}}</h3>
                                <h3>Order Number: {{this._id}}</h3>
                                {{! Showing Customer Given Name & Time Remaining}}
                                {{#each customer}}
                                        <h3>Customer Name: {{this.givenName}}</h3>
                                {{/each}}
                                <h3 id= "timer_{{this._id}}">Time Remain Before Discount</h3>
                                <div class="orderItems colStart">
                                        <h3>Items Ordered:</h3>
                                        {{#each orderDetails}}
                                        <div class="flex orderItem">
                                                <img src={{this.photo}} alt="food" />
                                                <div class="colStart">
                                                        <p>Item: {{this.name}}</p>
                                                        <p>Quantity: {{this.quantity}}</p>
                                                        <p>Price: ${{this.price}}</p>
                                                </div>
                                        </div>
                                        {{/each}}
                                </div>
                                <div class="flex">
                                        <h3>Total Price of the Order: ${{this.price}}</h3> 
                                </div>
                                {{! Two buttons for vendors to set the orders status}}
                                <div class="flex">
                                        <form target = "_blank" method="post" action="/orders/{{this._id}}/setOrderFulfilled?_method=PATCH">
                                                <button name="Yes" value="PATCH" class="doneButton" onclick="showFulSucPopup()">Order Fulfilled</button>
                                        </form>
                                        <form target = "_blank" method="post" action="/orders/{{this._id}}/setOrderCollected?_method=PATCH">
                                                <button name="Yes" value="PATCH" class="doneButton" onclick="showColSucPopup()">Order Collected</button>
                                        </form>
                                </div>
                        </div>
                        <hr style="width:100%", size="3", color=white>  
                        {{else}}
                        <h3 style="font-size:5vw; color:white">> Currently, We Don't Have Any Outstanding Orders</h3>                      
                        {{/each}}
                </div>
        </div>
        
        <div id="fulPopup" class="colMiddle" style="display: none;">
        <div id="cancelPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideFulSucPopup()" class="fas fa-times"></i>
            </div>
            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
            <h4>Order Has Been Fulfilled</h4>
            </div>
            <div class="popupButtons flexMiddle stretch">
                <button class="changeButton" onclick="hideFulSucPopup()">Done</button>
            </div>
        </div>
        </div> 

        <div id="colPopup" class="colMiddle" style="display: none;">
        <div id="cancelPopupModal">
            <div class="flexBetween exitModal">
                <i onclick="hideFulSucPopup()" class="fas fa-times"></i>
            </div>
            <div class="card-body text-center"> <img src=" https://i.imgur.com/d2dKtI7.png" height="100" width="100">
            <h4>Order Has Been Collected</h4>
            </div>
            <div class="popupButtons flexMiddle stretch">
                <button class="changeButton" onclick="hideColSucPopup()">Done</button>
            </div>
        </div>
        </div>

        <script>
                const showFulSucPopup = () => {
                let fulSucPopup = document.getElementById("fulPopup");
                fulSucPopup.style.display = "flex";
                }
            const hideFulSucPopup = () => {
                let fulSucPopup = document.getElementById("fulPopup");
                fulSucPopup.style.display = "none";
                refreshPage();
                }
                const showColSucPopup = () => {
                let colSucPopup = document.getElementById("colPopup");
                colSucPopup.style.display = "flex";
                }
                const hideColSucPopup = () => {
                let colSucPopup = document.getElementById("colPopup");
                colSucPopup.style.display = "none";
                refreshPage();
                }

        </script>
</section>